<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>TruMenu Web by Mission Public</title>
    <script src="../js/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="angular_1.3.0.js" type="text/javascript"></script>
    <script src="../js/lib/ng-infinite-scroll.js" type="text/javascript"></script>
    <script src="../js/lib/bindonce.js" type="text/javascript"></script>
    <script src="index_controller.js" type="text/javascript"></script>
    <script src="angular-cookies.js" type="text/javascript"></script>
    <script src="angular-route.min.js" type="text/javascript"></script>
    <script src="../js/lib/jquery.qrcode.min.js"></script>
    <style>
        .ct {
            color:red;
        }
    </style>
</head>
<body ng-controller="Ctrl">
<button ng-click="clear()">Clear</button>
<button ng-click="show()">Show</button>
<div infinite-scroll="myPagingFunction()" infinite-scroll-distance="0">
    <div bo-class="{'ct'}" style="border:1px solid black;" ng-repeat="item in items">
       {{item.name}}
        <span  >
            ,,,
        </span>
    </div>
    <div id="qrcode"></div>
</div>
<div >
    <script>
        var app = angular.module('myapp',['infinite-scroll','pasvaz.bindonce']);
        app.controller('Ctrl',function($scope,$q){
            console.log("aaa");
            $scope.aa = 'aa11';
            $scope.items = [];
            for(var i=0;i<10;i++){
                $scope.items.push({name:'abc'+i});
            }
            $scope.clear = function() {
                $scope.items = [];
            };

            function wc(s){
                if(!s)
                    return 0;
                var watchers = (s.$$watchers) ? s.$$watchers.length : 0;
                var child = s.$$childHead;
                while (child) {
                    watchers += (child.$$watchers) ? child.$$watchers.length : 0;
//            console.log('next child',watchers);
                    watchers += wc(child);
                    child = child.$$nextSibling;
                }
//        console.log('watchers',watchers);
                return watchers;
            }
            $scope.show= function() {
                console.log(wc($scope));
            };
            var i = 0;
            $scope.myPagingFunction = function() {
                $scope.items.push({name:'aaa'+i++});
            };


            function asyncGreet(name) {
                var deferred = $q.defer();

                setTimeout(function() {
                    // 因为此function 在未来的事件循环中异步执行,
                    // 我们需要把代码包装到到一个 $apply 调用中,以便正确的观察到 model 的改变
                    $scope.$apply(function() {
                        deferred.notify('即将问候 ' + name + '.');

                        setTimeout(function() {
                                    if (name) {
                                        deferred.resolve({name:name});
                                    } else {
                                        deferred.reject('拒绝问候 ' + name + ' .');
                                    }
                                }
                                ,1000);
                    });
                }, 1000);

                return deferred.promise;
            }
            function asyncGreet(name) {
                var deferred = $q.defer();

                setTimeout(function() {
                    // 因为此function 在未来的事件循环中异步执行,
                    // 我们需要把代码包装到到一个 $apply 调用中,以便正确的观察到 model 的改变
                    $scope.$apply(function() {
                        deferred.notify('即将问候 ' + name + '.');

                        setTimeout(function() {
                            if (name) {
                                deferred.resolve({name:name});
                            } else {
                                deferred.reject('拒绝问候 ' + name + ' .');
                            }
                        }
                        ,1000);
                    });
                }, 1000);

                return deferred.promise;
            }
//
//            var promise = $q.all([asyncGreet('小漠漠'),asyncGreet("333")]);
//            promise.then(function(value) {
//                console.log(value.length);
//                console.log(value[0].name,value[1].name);
//            }, function(reason) {
//                console.log('失败鸟: ' + reason);
//            }, function(update) {
//                console.log('收到通知: ' + update);
//            });
        });

        $('#qrcode').qrcode({width: 164,height: 164,text: "size doesn't matter"});
    </script>
    <!-- JiaThis Button BEGIN --><div id="ckepop">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_weixin">微信</a>
    <a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    <a class="jiathis_counter_style"></a> </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
</div> <!-- JiaThis Button END -->

</div>
</body>
</html>
