<div id="about_us_view" class="page-content mp-mobile-marginleft-10px mp-mobile-marginright-10px" style="margin-left:80px;margin-right:80px;">
    <div class="col-xs-12 mp-title-green mp-mobile-margintop-20px mp-mobile-marginbottom-10px mp-mobile-fontsize-20px" ng-bind="L.about_us"> </div>
    <div class="col-xs-12 mp-mobile-nopadding  mp-mobile-fontsize-14px" style="padding:0 100px;font-size:18px;color:#858585;">
        <p>
            {{L.paragraph_1}}
        </p>
        <p>
            {{L.paragraph_2}}
        </p>

        <p>{{L.statement_1}}</p>
        <p>{{L.statement_2}}</p>
        <p>{{L.statement_3}}</p>
        <p>
           {{L.paragraph_3}}
        </p>
    </div>
    <style>
        #about_us_view p {
            text-indent: 2em;
            margin:10px auto;
            max-width: 800px;
        }
    </style>
</div>