<div id="page_404_view" class="page-content">
    <div class="page-header">
        <h1>
            <b>404 {{L.error}}</b>
        </h1>
    </div>
    <div class="row">
        <p class="title" style="font-size:16pt;">
            {{L.page_404_text_1}}
        </p>
        <p>
            {{L.page_404_text_2}}
        </p>
        <p>
            {{L.page_404_text_3}} <a href="/" style="font-size:130%;text-decoration: underline;">{{L.home_page}}</a> {{L.page_404_text_4}}
        </p>
    </div>
    <style>
        #page_404_view .row p {
            text-indent: 2em;
            font-size:11pt;
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
        #page_404_view .title {
            font-family: Arial !important;
            font-size: 14pt;
            font-weight: bold;
            color: #009933;
        }
    </style>
</div>