#deal_view .page-title {
    color: darkorange;
    font-size:30px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.deal_view .mp-item-level-deal {
    padding: 5px 10px;
}

.deal_view .mp-item-level-deal>div:nth-child(1){
    border: 1px solid #eee;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}
.deal_view .mp-item-level-deal>div:nth-child(2){
    border: 1px solid #eee;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(0){
    /*background-image: url('/image/visa1.png');*/
    background-repeat: no-repeat;
    background-size: cover;
}
.deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(1){
    font-size:18px;
    padding: 0px 20px;
}
.deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(1)>div{
    height:36px;
}
.deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(2){
    padding: 5px 20px;
    font-size:16px;
}
.deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(3){
    border-top: 1px solid #eee;
    font-size:14px;
    color:#323131;
    padding: 10px 20px;
}
@media only screen and (max-width: 600px) {
    #deal_view .page-title {
        font-size:18px;
        padding: 5px;
    }
    .deal_view .mp-item-level-deal {
        padding: 5px 10px;
    }

    .deal_view .mp-item-level-deal>div:nth-child(1){
        border: 0px;
    }
    .deal_view .mp-item-level-deal>div:nth-child(2){
        border: 0px;
        padding-top: 5px;
    }
    .deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(0){
        /*background-image: url('/image/visa1.png');*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    .deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(1){
        font-size:14px;
        padding: 0px 8px;
    }
    .deal_view .mp-shopping-cart-add-button,
    .deal_view .mp-shopping-cart-reduce-button {
        width: 26px;
    }
    .deal_view .mp-shopping-cart-count {
        margin: 0 5px;
    }
    .deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(2){
        padding: 5px 8px 0px 8px;
        font-size:12px;
    }
    .deal_view .mp-item-level-deal>div:nth-child(2)>div:nth-child(3){
        border-top: 0px;
        font-size:12px;
        padding: 5px 8px;
    }
}
