#forgot_password_view {
    /*background: url('../../customer/image/register_test.jpg');
    background-position-x: -56px;*/
}
/*.col-xs-12:after {*/
    /*content:'';*/
    /*clear:both;*/
/*}*/

/*#register_view .page-input {
}
/*#register_view .page-input:after {*/
    /*content:'';*/
    /*clear:both;*/
/*}
#register_view .page-input>span{
    color:red;
    margin-right:5px;
    font-size:40px;
    float:left;
}
#register_view .page-input>input{
    width:250px;
    float:left;
}

#register_view .mp-input-1 {
    border-radius: 4px !important;
}*/