<div id="about_us_view" class="page-content">
    <div class="page-header">
        <h1>
            <b>About Chumuu</b>
        </h1>
    </div>
    <div class="row">
        <p>
            Dear food lovers, we are in the information age.  Yelp is everywhere, google is everywhere, information is everywhere.  Yet you are still having a hard time finding the right restaurant, the right dishes, from time to time.  Are you looking at a restaurant that went out of business two years ago? Ever wondering if the restaurant you love still serves the dish as pictured in Yelp 6 months ago?  Where can you find real and accurate information about restaurants and dishes?  Chumuu is here to serve you.
        </p>
        <p>
            Headquartered in Silicon Valley, Chumuu was born in 2013. We aim to offer real time restaurant menus and promotions in your neighborhood. We build the trust between business owners and their customers by empowering business owners to manage and publish their own menus.
        </p>
        <p>
            We are growing very fast. We will keep evolving to offer the users more than the best service. Please be with us, inspire us. We would like to hear about your thoughts and needs that we may be able to offer.
        </p>
    </div>
    <style>
        #about_us_view .row p {
            text-indent: 2em;
            font-size:11pt;
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
    </style>
</div>