<div id="contact_us_view" class="page-content">
    <div class="page-header">
        <h1>
            <b>Contact Us</b>
        </h1>
    </div>
    <div class="row">
        <div class="title">
            Food Lovers
        </div>
        <div class="text">
            Any comments or feedbacks?  Please feel free to email us at:
        </div>
        <div class="text">
            <a href="mailto:cust@tru-menu.com">cust@tru-menu.com</a>
        </div>

        <div class="text">
            We read and respond to every email from you!
        </div>
        <p>&nbsp;</p>
        <div class="title">
            Business Owners
        </div>
        <div class="text">
            Interested in managing your menu updates and promotions any time, any where, with any device?  Looking for ways to connect with your customers and increase your sales?  Wait no further, please contact us at:
        </div>
        <div class="text">
            <a href="mailto:biz@tru-menu.com">biz@tru-menu.com</a>
        </div>
        <div class="text">
            Or simply call: (510) 585-7247.
        </div>
</div>
    </div>

    <style>
        #contact_us_view .row {
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
        #contact_us_view .title {
            font-family: Arial !important;
            font-size: 15pt;
            font-weight: bold;
            color: #009933;
        }
        #contact_us_view .text {
            font-size: 11pt;
            font-family: Arial !important;
        }
    </style>
</div>