<html><head>
<script>
    function subst() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
            var y = document.getElementsByClassName(x[i]);
            for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
    }
</script></head><body style="border:0; margin:10" onload="subst()">

    <div class="col-md-8 col-sm-8 col-xs-8" style="text-align:center">From your local restaurant owners. <a href="www.chumuu.com">www.chumuu.com</a> &copy; 2015</small></div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right"><small>Page <span class="page"></span> of <span class="topage"></span></small></div>
</body></html>

