<div id="about_us_view" class="page-content">
    <div class="page-header">
        <span class="mp-page-header-title">Welcome to Chumuu!</span>
    </div>
    <div class="row">
        <p>
            TruMenu is a mobile Internet platform for ordering restaurant food online. Our mission is to redefine the dining experience for millions of customers who love great food from authenticate restaurants.
        </p>
        <p>
            We believe that printed menu will become history soon. Vivid pictures of dishes, real time deals, brand new menu items invented by the chef last night, will all come under your finger tips on smart phones and tablets. With a few swipes and tabs, your meal is on the way to your table. You can enjoy:
        </p>
        <p>1. Ordering food to go for a convenient pickup</p>
        <p>2. Ordering food to your table while seating in a restaurant or on the way to the restaurant</p>
        <p>3. Exclusive discounts only from Chumuu in select restaurants.</p>
        <p>
            We are working with Restaurant owners to make the digital dining experience as enjoyable as your recent Uber ride!
        </p>
    </div>
    <style>
        #about_us_view .row p {
            text-indent: 2em;
            font-size:11pt;
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
    </style>
</div>