<div id="contact_us_view" class="page-content">
    <div class="page-header">
        <span class="mp-page-header-title">{{L.contactus}}</span>
    </div>
    <div class="row">
        <div class="title">
            {{L.food_lovers}}
        </div>
        <div class="text">
            {{L.food_lovers_statement_1}}
        </div>
        <div class="text">
            <a href="mailto:cust@tru-menu.com">cust@tru-menu.com</a>
        </div>

        <div class="text">
            {{L.food_lovers_statement_2}}
        </div>
        <p>&nbsp;</p>
        <div class="title">
            {{L.business_owners}}
        </div>
        <div class="text">
            {{L.business_owners_statement_1}}
        </div>
        <div class="text">
            <a href="mailto:biz@tru-menu.com">biz@tru-menu.com</a>
        </div>
        <div class="text">
            {{L.business_owners_statement_2}}
        </div>
</div>
    </div>

    <style>
        #contact_us_view .row {
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
        #contact_us_view .title {
            font-family: Arial !important;
            font-size: 15pt;
            font-weight: bold;
            color: #009933;
        }
        #contact_us_view .text {
            font-size: 11pt;
            font-family: Arial !important;
        }
    </style>
</div>