<div id="forgot_password_view" class="col-xs-12 page-content text-center">
    <div style="width:300px;margin:0 auto;">
        <h4 class="header red lighter bigger">
            <i class="icon-key"></i>
            {{isCN ? L.reset_pwd : L.retrieve_pwd}}
        </h4>

        <div ng-if="!isCN" style="margin-top:30px;" >{{L.enter_your_email}}</div>
        <div ng-if="!isCN" style="margin-top:30px;">
            <input class="mp-edit-gray-green mp width-100" ng-model="resetPassInfo.email">
        </div>

        <div ng-if="isCN" style="margin-top:30px;">
            <form name="phoneForm" novalidate>
                <div class="col-xs-12">
                    <input class="mp-edit-gray-green mp width-100" type="text" ng-model="resetPassInfo.phone" placeholder="{{L.phone}}" mp-reformat-phone-number required ng-minlength=11 ng-maxlength=11>
                </div>
            </form>

            <div class="col-xs-12" style="margin-top: 20px;">
                <div class="col-xs-6">
                    <input class="mp-edit-gray-green mp" type="text" style="width:100%;float:left;" ng-model="resetPassInfo.code" placeholder="{{L.text_code}}">
                </div>
                <div class="col-xs-6">
                    <button class="mp btn btn-sm btn-success" ng-disabled="phoneForm.$invalid" id="smsBtn" ng-click="onBtnSendCaptcha()" style="width:106px;float: right;">{{L.send_message}}</button>
                </div>
            </div>

            <input class="mp-edit-gray-green mp width-100" type="password" style="margin-top: 20px;" ng-model="resetPassInfo.password" placeholder="{{L.new_pass}}">
        </div>

        <div style="margin-top:30px;">
            <button class="btn btn-success btn-sm" bo-bind="L.confirm" ng-click="onBtnConfirm()"></button>
        </div>
    </div>
</div>