<div style="height:40px;padding:0px 60px;background-color: #5bcc29;">
    <div class="pull-left Arial" style="font-size:16px;height:40px;line-height:40px;color:white;">California - Silicon Valley</div>
    <div class="pull-right Arial" style="font-size:16px;">
        <div style="background-color: #41a415;height:40px;line-height:40px;color:white;width:160px;text-align: center;">SIGN IN / SIGN UP</div>
    </div>
</div>
<div style="height:120px;padding:0px 60px;">
    <div class="pull-left Arial" style="height:120px;">
        <table>
            <tr><td style="height:120px;">
                <img src="customer/image/logo_2.png">
                <br>
                <span class="Arial" style="font-size:14px;color:#f99033;margin-top:10px;">CHOWHOUND WORLD</span>
            </td></tr>
        </table>
    </div>
    <div class="pull-left Arial" style="height:120px;line-height:120px;margin-left:60px;">
        <input class="Arial mp"
               style="width:360px;padding:0px 115px 0px 5px;height:32px;color:#c3c3c3;font-size:14px;border:1px solid #c3c3c3;border-radius: 10px;"
               placeholder="Search Businesses and Menu Items">
    </div>
    <div class="pull-right Arial" style="font-size:16px;">
    </div>
</div>