<div >
    <!--part1-->
    <!--<div class="home_nav ">-->
        <!--<div class="logo">-->
            <!--<img  src="image/home_images/logo.png" alt="logo">-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li  class="changeLi">-->
                <!--<a ng-click="onChangeLanguage()">{{L.next_lang}}</a>-->
                <!--<img src="image/home_images/nav_icon2.png" alt="">-->
            <!--</li>-->
            <!--<li class="changeLi" ng-click="openUrl('#/privacy-policy')" >-->
                <!--<a>{{L.Privacy_policy}}</a>-->
                <!--<img src="image/home_images/nav_icon2.png" alt="" >-->
            <!--</li>-->
            <!--<li class="changeLi" ng-click="openUrl('#/terms')" >-->
                <!--<a>{{L.terms}}</a>-->
                <!--<img src="image/home_images/nav_icon2.png" alt="" >-->
            <!--</li>-->
            <!--<li class="changeLi">-->
                <!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes">{{L.Agency_recruitment}}</a>-->
                <!--<img src="image/home_images/nav_icon2.png" alt="" >-->
            <!--</li>-->
            <!--<li class="changeLi">-->
                <!--<a>{{L.home}}</a>-->
                <!--<img src="image/home_images/nav_icon2.png" alt="" >-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <!--内容-->
    <!--part1-->
    <div class="home_banner">
        <div class="home-min-width">
            <div class="home_slogan">
                <h1>厨目-告别纸质菜单，扫码即点餐</h1>
                <div class="home-line"></div>
                <p>Farewell paper menu, scan code to order food</p>
            </div>
        </div>
    </div>
    <!--part2-->
    <div class="part2-bg">
        <div class="home-min-width">
            <div class="part2-title">
                <img src="../../image/home_images/part2_title.png" alt="">
                <div>
                    <div class="home_title_line1"></div>
                    <p>我们的产品</p>
                    <div class="home_title_line2"></div>
                </div>
            </div>

            <!--轮播图-->
            <div class="pic" id="pic">
                <span class="prev"><img src="./image/home_images/part2_icon3.png" alt="arrow" /></span>
                <span class="next"><img src="./image/home_images/part2_icon1.png" alt="arrow" /></span>
                <ul>
                    <!--<li class="pic1"><a href="#"><img src="image/f1.jpg" /></a></li>-->
                    <li class="pic2"><img src="./image/home_images/part2_computer_4.png" /><h4>4.{{L.our_products_4}}</h4></li>
                    <li class="pic3"><img src="./image/home_images/part2_computer_5.png" /><h4>5.{{L.our_products_5}}</h4></li>
                    <li class="pic4"><img src="./image/home_images/part2_computer_1.png" /><h4>1.{{L.our_products_1}}</h4></li>
                    <li class="pic5"><img src="./image/home_images/part2_computer_2.png" /><h4>2.{{L.our_products_2}}</h4></li>
                    <li class="pic6"><img src="./image/home_images/part2_computer_3.png" /><h4>3.{{L.our_products_3}}</h4></li>
                    <!--<li class="pic7"><a href="#"><img src="image/f7.jpg" /></a></li>-->
                    <!--<li class="pic7"><a href="#"><img src="image/f8.jpg" /></a></li>-->
                </ul>
            </div>

            <div class="foot_slogan">
                <img src="./image/home_images/c_line3.png" alt="aaa">
            </div>
            <div class="foot_slogan_p">
                <p>{{L.our_products_paragraph_1}}</p>
            </div>
        </div>
    </div>
    <!--part3-->
    <div class="part3-bg">

        <div class="home-min-width">
            <!--<img src="image/home_images/part3_beef.png" alt="" class="beef">-->
            <!--<img src="image/home_images/coffee.png" alt="" class="coffee">-->
            <div class="part3-title">
                <img src="./image/home_images/part3_title.png" alt="">
                <div>
                    <div class="home_title_line1"></div>
                    <p>我们的优势</p>
                    <div class="home_title_line2"></div>
                </div>
            </div>
            <div class="part3-content-box">
                <div class="part3-content-left">
                    <div class="margin-bottom-30 part3-content-left-box">
                        <img src="./image/home_images/part3_icon1.png" alt="">
                        <p>{{L.our_advantages_1}}</p>
                    </div>
                    <div class="margin-bottom-30 part3-content-left-box">
                        <img src="./image/home_images/part3_icon3.png" alt="">
                        <p>{{L.our_advantages_2}}</p>
                    </div>
                    <div class="margin-bottom-30 part3-content-left-box" >
                        <img src="./image/home_images/part3_icon5.png" alt="">
                        <p>{{L.our_advantages_3}}</p>
                    </div>
                </div>
                <div class="part3-content-middle">
                    <img src="./image/home_images/part3_app.png" alt="">
                </div>
                <div class="part3-content-right">
                    <div class="margin-bottom-30 part3-content-left-box">
                        <img src="./image/home_images/part3_icon2.png" alt="">
                        <p>{{L.our_advantages_4}}</p>
                    </div>
                    <div class="margin-bottom-30 part3-content-left-box">
                        <img src="./image/home_images/part3_icon4.png" alt="">
                        <p>{{L.our_advantages_5}}</p>
                    </div>
                    <div class="margin-bottom-30 part3-content-left-box">
                        <img src="./image/home_images/part3_icon6.png" alt="">
                        <p>{{L.our_advantages_6}}</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>

    <!--part4-->
    <div class="part4-bg">
        <div class="home-min-width">
            <div class="part4-title">
                <img src="./image/home_images/part4_title.png" alt="">
                <div>
                    <div class="home_title_line1"></div>
                    <p>我们的资讯</p>
                    <div class="home_title_line2"></div>
                </div>
            </div>
            <div class="informations" id="informations-id">
                <ul class="jqMoveBox">
                    <li class="jqMove first_box" id="jqMoveId">
                        <img src="./image/home_images/part4_details_shenyang.png" alt="" class="imgC">
                        <div class="information-bigbox">
                            <div class="information-box">
                                <h1>{{L.our_informations_1}} <span>......</span> </h1>
                                <p>{{L.our_informations_1_paragraph}}</p>
                            </div>
                            <div class="part5-date">
                                <span>—— 2018.4.16</span>
                            </div>
                        </div>
                    </li>
                    <li class="jqMove">
                        <img src="./image/home_images/part4_details_shanghai.png" alt="" class="imgC">
                        <div class="information-bigbox">
                            <div class="information-box">
                                <h1>{{L.our_informations_2}}<span>......</span></h1>
                                <p>{{L.our_informations_2_paragraph}}</p>
                            </div>
                            <div class="part5-date">
                                <span>—— 2018.3.26</span>
                            </div>
                        </div>
                    </li>
                    <li class="jqMove bottom_line" >
                        <img src="./image/home_images/part4_details.png" alt="" class="imgC">
                        <div class="information-bigbox">
                            <div class="information-box">
                                <h1>{{L.our_informations_3}}<span>......</span></h1>
                                <p>{{L.our_informations_3_paragraph}}</p>
                            </div>
                            <div class="part5-date">
                                <span>—— 2018.3.2</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--part5-->
    <div class="part5-bg">
        <div class="home-min-width">
            <div class="part5-title">
                <img src="./image/home_images/part5_title.png" alt="">
                <div>
                    <div class="home_title_line1"></div>
                    <p>关于厨目</p>
                    <div class="home_title_line2"></div>
                </div>
            </div>

            <div class="part5-content-box">
                <div class="part5-content">
                    <h1>{{L.about_chumenu}}</h1>
                    <div class="float-box">
                        <img src="../../image/home_images/Chumenu.png" alt="aa">
                        <!--<h3>Chumenu</h3>-->
                        <!--<h2>厨目</h2>-->
                    </div>
                    <div class="part5_line"></div>
                    <p>{{L.about_chumenu_paragraph_1}}</p>
                    <div class="part5-contact">
                        <div class="part5-contact-float">
                            <img src="../../image/home_images/part5_icon1.png" alt="aa">
                            <span class="part5-contact-span">{{L.about_phone}}：15842276711</span>
                        </div>
                       <div class="part5-contact-float">
                           <img src="../../image/home_images/part5_icon2.png" alt="aa">
                           <span>E-mail：info@missionpublic.com</span>
                       </div>

                    </div>
                </div>
            </div>
            <!--footer-->
            <!--<div class="home_footer">-->
                <!--<span>Copyright © 2018 Mission Public Inc.</span>-->
            <!--</div>-->
        </div>
    </div>

    <div class="col-xs-12">
        <div class="mp-footer col-xs-12" style="margin-top:-12px;">
            <div class="col-xs-12 hr "></div>
            <ul class="col-xs-12 mp">
                <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" ng-bind="L.Agency_recruitment">Agency recruitment</a></li>
                <!--<li><a href="javascript:;" ng-click="navTo('contact-us')" ng-bind="L.contact_us">Contact Us</a></li>-->
                <li><a href="javascript:;" ng-click="navTo('terms')" ng-bind="L.terms">Terms</a></li>
                <li ><a href="javascript:;" ng-click="navTo('privacy-policy')" ng-bind="L.privacy_policy">Privacy Policy</a></li>
                <!--<li class="changeLi" ng-click="openUrl('#/privacy-policy')" >-->
                    <!--<a>{{L.Privacy_policy}}</a>-->
                    <!--<img src="image/home_images/nav_icon2.png" alt="" >-->
                <!--</li>-->


                <!--<li><a href="javascript:;" ng-click="navTo('feedback')" style="color:#5eb70e;" ng-bind="L.feedbacks">Feedbacks</a></li>-->
                <li><a href="javascript:;" ng-click="onChangeLanguage()" style="color:#f15a29;" ng-bind="L.next_lang"></a></li>
            </ul>
            <div class="col-xs-12 space-10"></div>
            <div class="col-xs-12" id="copyright"> {{isCN ? '© 2017 美森博多利（大连）科技有限公司 版权所有 辽ICP备14014383号-1' : 'Copyright © 2017 Mission Public Inc.'}}</div>
        </div>
        <!--<ng-include src="'view/_footer.html'"></ng-include>-->
    </div>

</div>


<!--浮动栏-->
<!--<div class="mp-side-bar mp-pointer">-->
    <!--<div><i class="iconfont icon-kongxinjiantou"  onclick="{$('html,body').animate({'scrollTop':0},300);}" style="position: absolute;top: 0;left: 1px"></i></div>-->
    <!--<div>-->
        <!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes">-->
            <!--<i class="iconfont icon-kefu1"  style="position: absolute;top: 6px;left: 6px;"></i>-->
        <!--</a>-->
        <!--<div ng-show="$mpMyTable.getData().count>0" ng-bind="$mpMyTable.getData().count"></div>-->
    <!--</div>-->
<!--</div>-->


</div>


<script type="text/javascript">
    if (screen && screen.width > 414) {

        $(".jqMove").mouseover(function () {
            $("#jqMoveId").find("img").hide();
            $("#jqMoveId").find("p").hide();
            $("#jqMoveId").height('81px');
            $("#jqMoveId").find("h1").css({"padding-top": "28px"});
            $("#jqMoveId").find("div.part5-date").css({"margin-top": "28px"});
            $("#jqMoveId").find("h1").find("span").show();

            $(this).find("img").show();
            $(this).find("p").show();
            $(this).height('180px');
            $(this).find("h1").css({"padding-top": "48px"});
            $(this).find("span").css({"margin-top": "80px"});
            $(this).find("div.part5-date").css({"margin-top": "80px"});
            $(this).find("h1").find("span").hide();
        }).mouseout(function () {
            $(this).find("img").hide();
            $(this).find("p").hide();
            $(this).height('81px');
            $(this).find("h1").css({"padding-top": "28px"});
            $(this).find("div.part5-date").css({"margin-top": "28px"});
            $(this).find("h1").find("span").show();
        });


        $(".jqMoveBox").mouseout(function () {
            $("#jqMoveId").find("img").show();
            $("#jqMoveId").find("p").show();
            $("#jqMoveId").height('180px');
            $("#jqMoveId").find("h1").css({"padding-top": "48px"});
            $("#jqMoveId").find("span").css({"margin-top": "80px"});
            $("#jqMoveId").find("div.part5-date").css({"margin-top": "80px"});
            $("#jqMoveId").find("h1").find("span").hide();
        });


        $(".changeLi").mouseover(function () {
            $(this).find("img").attr("src", "image/home_images/nav_icon1.png");
            $(this).find("a").css({"color": "#ff9e20"});
            $(this).find("a").css({"padding-bottom": "5px", "border-bottom": "2px solid"})
        }).mouseout(function () {
            $(this).find("img").attr("src", "image/home_images/nav_icon2.png")
            $(this).find("a").css({"color": "#fff"});
            $(this).find("a").css({"padding-bottom": "5px", "border-bottom": "none"})
        });
    }
    var screenWidth = $(window).width();
    if(screenWidth<=414 && screenWidth>375){
        $("#pic ul").css({"left":"20px"})
    }else if(screenWidth<=375 && screenWidth>320) {
        $("#pic ul").css({"left": "0"})
    }else if(screenWidth<=320 ) {
        $("#pic ul").css({"left": "-27px"})
    }





</script>