<div id="my_table_view" class="page-content mp-mobile-marginleft-10px mp-mobile-marginright-10px" style="margin-left:134px;margin-right:134px;">
    <div class="col-xs-12 text-center mp-mobile-margintop-10px mp-mobile-fontsize-18px mp-display-box" style="margin-top:45px;font-size:34px;">
        <div class="mp-boxflex-1" style="text-align: left">
            <a href="javascript:;" onClick="javascript :history.back(-1);" target="_self">
                <span class="fa fa-reply mp-pointer" style="color:#cccccc;" ></span>
            </a>
        </div>
        <div class="" style="color:#343434;font-family: Gothic;line-height: initial;">{{L.my_table}}</div>
        <div class="" style="color: #bbbaba;font-family: Gothic;line-height: initial;margin-left:10px;">{{L.my_table_order_summary}}</div>
        <div class="mp-boxflex-1"></div>
    </div>

    <!--<form action="https://openapi.caibaopay.com/gatewayOpen.htm" method="get">-->
        <!--<input type="text" name="operator_id" value="ccaaad2ba1f2a6baccb986d0a748dbb9"/>-->
        <!--<input type="text" name="app" value="A00305710000067"/>-->
        <!--<input type="text" name="key" value="3d54fa25f393f2690817a1fab9314b92"/>-->
        <!--<input type="submit" value="测试提交">-->
    <!--</form>-->

    <div class="col-xs-12 mp-mobile-display-none text-center mp-mobile-margintop-5px mp-mobile-fontsize-14px" style="font-size:18px;color:#575555;margin-top:7px;">
        {{L.my_table_caption}}
    </div>
    <div class="col-xs-12 text-center" ng-show="$mpMyTable.getData().count==0" bo-bind="L.my_table_text" style="  font-size: 30px; margin-top: 50px; color: darkorange;">
    </div>
    <div class="col-xs-12" ng-show="$mpMyTable.getData().count>0">
        <div class="tabble-box">
            <div class="dining-table tabble-show">
                <div  class="food food{{$index}}" ng-repeat="item in myTable.getData().prods | limitTo:6">
                    <!--<img ng-class="$index == 0 ? 'food1':'food',$index == 1 ? 'food2':'food',$index == 2 ? 'food3':'food'"  ng-src="{{item.img_url_s}}">-->
                    <img ng-src="{{item.img_url_s}}">
                </div>
                <!--<div class="food food2"></div>-->
                <!--<div class="food food3"></div>-->
                <!--<div class="food food4"></div>-->
                <!--<div class="food food5"></div>-->
                <!--<div class="food food6"></div>-->
            </div>
            <span class="tabble-btn" style="color:cornflowerblue;">{{L.table_open}}</span>
        </div>

        <!--商家信息-->
        <div class="col-xs-12">
            <div bindonce="bizInfo" class="col-xs-12 mp-display-box mp-mobile-display-none mp-mobile-margintop-15px" style="margin:50px 0 30px 0;">
                <div class="mp-mobile-width-100pc" style="width:180px;">
                    <img class="mp-pointer mp-mobile-height-200px" style="width:100%;" ng-src="{{bizInfo.img_url_s}}"
                         ng-click="navTo('/restaurant/'+bizInfo.bizKey)"/>
                </div>
                <div class="mp-boxflex-1 mp-mobile-paddingleft-0px mp-mobile-paddingright-0px" style="padding:4px 30px 0px 20px;">
                    <a href="javascript:;" class=" mp-mobile-fontsize-14px" ng-click="navTo('/restaurant/'+bizInfo.bizKey)" title="{{bizInfo.name}}" style="font-size:24px;color:#575555;" bo-bind="bizInfo.fullName"> </a>
                    <div style="font-size:14px;margin-top:4px;">
                        <div class="" style="">
                            <span class="icon-home mp-display-inline-block" style="width:20px;font-size:20px;color:#9e9e9e;margin-right:6px;"></span>
                            <a class="mp-pointer mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px"
                               style="color:#1086ff;font-size:22px;" onclick="javascript:;" bo-bind="bizInfo.address"
                               ng-click="onOpenBizMapNavigator(bizInfo)"></a>
                        </div>
                        <div class="" style="">
                            <span class="icon-phone mp-display-inline-block" style="width:20px;font-size:20px;color:#9e9e9e;margin-right:6px;"></span>
                        <span ng-repeat="phone in bizInfo.phoneArr">
                            <a href="tel:{{phone}}" class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="color:#1086ff;font-size:22px;" bo-bind="phone"></a>
                            <span ng-if="!$last" style="margin-right:10px;">,</span>
                        </span>
                        </div>
                        <div ng-show="!_.isUndefined(item.distance) || true">
                        <span class="icon-map-marker mp-display-inline-block"
                              style="width:20px;font-size:20px;color:#9e9e9e;margin-right:6px;"></span>
                            <span ng-if="disName == 'mile'" class=" mp-mobile-fontsize-14px" style="color:grey;font-size:22px;">{{bizInfo.distance | number:2}} {{L.miles}}</span>
                            <span ng-if="disName == 'km'" class="mp-mobile-fontsize-14px" style="color:grey;font-size:22px;" >{{bizInfo.distance | number:2}} {{L.km}}</span>
                        </div>
                    </div>
                    <div class="" style="">
                        <starrating class="mp-mobile-fontsize-20px" style="color:darkorange;font-size:24px;" rating="{{rating.avgRatingForStar}}"></starrating>
                    </div>
                </div>
            </div>
        </div>
        <!--订单详细标题-->
        <div class="col-xs-12">
            <div class="pull-left mp-mobile-fontsize-16px" style="font-size:30px;color:#ff3e00;" ng-bind="L.my_table_order_detail"></div>
        </div>
        <div class="col-xs-12 hr"></div>
        <!--菜品详情-->
        <div class=" col-xs-12 mp-shopping-cart-prod-list">
            <!-- ngIf is strong necessary. mpShoppingCartControl depends on $mpBizInfo  -->
            <div ng-if="bizInfo" class="col-xs-12 mp-mobile-margintop-10px mp-mobile-marginbottom-10px" ng-repeat="item in myTable.getData().prods" style="margin:30px 0 0 0 ;padding:0px 10px 0px 6px;">
                <div class="col-xs-12 mp-text-ellipsis overflow-hidden">
                    <div class="col-xs-12 mp-display-none mp-mobile-display-block" style="margin-bottom: 10px;">
                        <div class="pull-left mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:24px;color:#232323;" ng-bind="item.prodName+ '(' + item.nickName + ')'"></div>
                        <div class="pull-left mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#9e9e9e;margin-left:10px;" ng-bind="item.prodNameLang"></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 mp-display-box">
                        <img class="mp-mobile-width-90px" width="160px" ng-src="{{item.img_url_s}}">
                        <div class="mp-boxflex-1" style="padding-left:10px;">
                            <div class="mp-mobile-display-none mp-text-ellipsis overflow-hidden" style="font-size:24px;color:#575555;" ng-if="L.key=='zh-cn'" ng-bind="item.prodName+ '(' + item.nickName + ')'"></div>
                            <div class="mp-mobile-display-none mp-text-ellipsis overflow-hidden" style="font-size:24px;color:#575555;" ng-if="L.key=='en-us'" ng-bind="item.prodNameLang+ '(' + item.nickName + ')'"></div>
                            <div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#575555;" ng-if="item.extendName">({{item.extendName}})</div>
                            <div class="mp-mobile-fontsize-14px" style="color:#575555;white-space: normal" ng-if="item.extendIdArray.length>0">
                                <span class="muti-type-detail">{{L.old_price}}:{{item.price | customCurrency:currency}}&nbsp;</span>
                                <span class="muti-type-detail" ng-repeat="extend in item.extendIdArray">{{extend.name}}:{{extend.price  | customCurrency:currency}}&nbsp;</span>
                            </div>
                            <div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#575555;">{{L.special_ins}}:</div>
                            <div><textarea class="mp-mobile-fontsize-10px" ng-model="myTable.getData().prods[$index].remark" placeholder="{{L.special_ins_placeholder}}" rows="3"
                                           style="width:100%;background-color: #f8f8f8;border:1px solid #d4d4d4;font-size:18px;"></textarea></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="col-xs-6 mp-mobile-float-right text-right mp-mobile-textalign-center" style="">
                            <table class="width-100 mp-mobile-height-50px" style="height:160px;">
                                <tr><td>
                                    <mp-shopping-cart-control prod="item"></mp-shopping-cart-control>
                                </td></tr>
                            </table>
                        </div>
                        <div class="col-xs-6 mp-mobile-float-left text-right mp-mobile-textalign-center">
                            <table class="width-100 mp-mobile-height-50px" style="height:160px;">
                                <tr><td>
                                    <span ng-if="!item.actualPrice" class="mp-mobile-fontsize-12px" style="font-size:16px;" ng-bind="(item.price+item.extendPrice)*item.qty | customCurrency: currency"></span>
                                    <span ng-if="item.actualPrice" class="mp-mobile-fontsize-18px" style="font-size:24px;color:red;" ng-bind="(item.actualPrice+item.extendTotalPrice)/item.qty | customCurrency: currency"></span>
                                    <span ng-if="item.actualPrice" class="mp-mobile-fontsize-12px mp-textdecoration-linethrough mp-gray" style="font-size:16px;" ng-bind="(item.price+item.extendPrice)*item.qty | customCurrency: currency"></span>
                                </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hr mp-mobile-margintop-10px" style="margin-top:30px;margin-bottom:0px"></div>
            </div>
        </div>
        <!--&lt;!&ndash;菜品详情Temp&ndash;&gt;-->
        <!--<div class=" col-xs-12 mp-shopping-cart-prod-list">-->
            <!--&lt;!&ndash; ngIf is strong necessary. mpShoppingCartControl depends on $mpBizInfo  &ndash;&gt;-->
            <!--<div ng-if="bizInfo" class="col-xs-12 mp-mobile-margintop-10px mp-mobile-marginbottom-10px" ng-repeat="item in myTableTemp" style="margin:30px 0 0 0 ;padding:0px 10px 0px 6px;">-->
                <!--<div class="col-xs-12 mp-text-ellipsis overflow-hidden">-->
                    <!--<div class="col-xs-12 mp-display-none mp-mobile-display-block" style="margin-bottom: 10px;">-->
                        <!--<div class="pull-left mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:24px;color:#232323;" ng-bind="item.prodName + '(' + item.nickName + ')'"></div>-->
                        <!--<div class="pull-left mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#9e9e9e;margin-left:10px;" ng-bind="item.prodNameLang?item.prodNameLang:''  "></div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-7 mp-display-box">-->
                        <!--<img class="mp-mobile-width-90px" width="160px" ng-src="{{item.img_url_s}}">-->
                        <!--<div class="mp-boxflex-1" style="padding-left:10px;">-->
                            <!--<div class="mp-mobile-display-none mp-text-ellipsis overflow-hidden" style="font-size:24px;color:#575555;" ng-if="L.key=='zh-cn'" ng-bind="item.prodName + '(' + item.nickName + ')'"></div>-->
                            <!--<div class="mp-mobile-display-none mp-text-ellipsis overflow-hidden" style="font-size:24px;color:#575555;" ng-if="L.key=='en-us'" ng-bind="item.prodNameLang + '(' + item.nickName + ')'"></div>-->
                            <!--<div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#575555;" ng-if="item.extendName">({{item.extendName}})</div>-->
                            <!--&lt;!&ndash;<div class="mp-mobile-fontsize-14px" style="color:#575555;white-space: normal" ng-if="item.extendIdArray.length>0">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="muti-type-detail">{{L.old_price}}:{{item.price | customCurrency:currency}}&nbsp;</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="muti-type-detail" ng-repeat="extend in item.extendIdArray">{{extend.name}}:{{extend.price  | customCurrency:currency}}&nbsp;</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--&lt;!&ndash;<div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px" style="font-size:18px;color:#575555;">{{L.special_ins}}:</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div><textarea class="mp-mobile-fontsize-10px" ng-model="myTable.getData().prods[$index].remark" placeholder="{{L.special_ins_placeholder}}" rows="3"&ndash;&gt;-->
                                           <!--&lt;!&ndash;style="width:100%;background-color: #f8f8f8;border:1px solid #d4d4d4;font-size:18px;"></textarea></div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-5">-->
                        <!--&lt;!&ndash;数量&ndash;&gt;-->
                        <!--<div class="col-xs-6 mp-mobile-float-right text-right mp-mobile-textalign-center" >-->
                            <!--<table class="width-100 mp-mobile-height-50px" style="height:160px;">-->
                                <!--<tr><td>-->
                                    <!--<div style="display: flex;align-items: center;position:relative;right: -42%">-->
                                        <!--<span class="mp-shopping-cart-count" ng-bind="item.qty"></span>-->
                                    <!--</div>-->
                                <!--</td></tr>-->
                            <!--</table>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;单价&ndash;&gt;-->
                        <!--<div class="col-xs-6 mp-mobile-float-left text-right mp-mobile-textalign-center">-->
                            <!--<table class="width-100 mp-mobile-height-50px" style="height:160px;">-->
                                <!--<tr><td>-->
                                    <!--&lt;!&ndash;<span ng-if="!item.actualPrice" class="mp-mobile-fontsize-12px" style="font-size:16px;" ng-bind="(item.price+item.extendPrice)*item.qty | customCurrency: currency"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span ng-if="item.actualPrice" class="mp-mobile-fontsize-18px" style="font-size:24px;color:red;" ng-bind="(item.actualPrice+item.extendTotalPrice)/item.qty | customCurrency: currency"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span ng-if="item.actualPrice" class="mp-mobile-fontsize-12px mp-textdecoration-linethrough mp-gray" style="font-size:16px;" ng-bind="(item.price+item.extendPrice)*item.qty | customCurrency: currency"></span>&ndash;&gt;-->
                                    <!--<span class="mp-mobile-fontsize-12px" style="font-size:16px;" ng-bind="(item.price + item.extendPrice) * item.qty | customCurrency: currency"></span>-->

                                <!--</td></tr>-->
                            <!--</table>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12 hr mp-mobile-margintop-10px" style="margin-top:30px;margin-bottom:0px"></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--小计总额-->
        <div class="col-xs-12 mp-price-summary mp-mobile-display-none" style="margin:26px 0 36px 0;font-size: 24px; color: #575555;">
            <div class="col-xs-12 mp">
                <div>
                    <div class="col-xs-12 mp-display-box">
                        <div class="col-xs-12 mp-boxflex-1 text-left">{{L.sub_total}}:</div>
                        <div class="col-xs-12 mp-boxflex-1 text-right">
                            <span ng-bind="myTable.getData().originPrice + totalMoneyTemp | customCurrency:currency"></span>
                        </div>
                    </div>

                    <div ng-if="myTable.getData().totalDiscount>0" class="col-xs-12 mp-display-box">
                        <div class="col-xs-12 mp-boxflex-1 text-left">{{L.total_discount}}:</div>
                        <div class="col-xs-12 mp-boxflex-1 text-right">
                            -
                            <span ng-bind="myTable.getData().totalDiscount| customCurrency:currency"></span>
                        </div>
                    </div>

                    <div ng-if="!isCN" class="col-xs-12 mp-display-box">
                        <div class="col-xs-12 mp-boxflex-1 text-left">
                            <span>{{L.sales_tax}}</span> (<span ng-bind="bizInfo.extraTaxRate"></span>%):
                        </div>
                        <div class="col-xs-12 mp-boxflex-1 text-right" ng-bind="myTable.getData().totalTax | customCurrency:currency"></div>
                    </div>

                    <div class="col-xs-12 mp-display-box">
                        <div class="col-xs-12  mp-boxflex-1 text-left">{{isCN ? L.total : L.total_with_tax}}:</div>
                        <div class="col-xs-12  mp-boxflex-1 text-right" ng-bind="myTable.getData().totalPrice + totalMoneyTemp| customCurrency:currency"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-right mp-mobile-display-none">
            <button class="mp btn btn-default btn-sm" ng-click="onOrderMore()">{{L.order_more}}</button>
            <button class="mp btn btn-success btn-sm" style="margin-left:50px;" ng-click="onPlaceOrder()">{{L.place_order}}</button>
        </div>

        <div class="col-xs-12 mp-display-none mp-mobile-display-block" style="margin:26px 0 36px 0;font-size: 14px; color: #575555;">
            <div class="mp-display-box">
                <div class="">{{L.sub_total}}:</div>
                <div class="mp-boxflex-1 text-right">
                    <span style="margin-left:30px;" ng-bind="myTable.getData().originPrice + totalMoneyTemp | currency: currency"></span>
                </div>
            </div>
            <div ng-if="myTable.getData().totalDiscount>0" class="mp-display-box">
                <div class="">{{L.total_discount}}:</div>
                <div class="mp-boxflex-1 text-right">
                    -
                    <span ng-bind="myTable.getData().totalDiscount | currency: currency"></span>
                </div>
            </div>
            <div ng-if="!isCN" class="mp-display-box">
                <div>
                    <span>{{L.sales_tax}}</span> (<span ng-bind="bizInfo.extraTaxRate"></span>%):
                </div>
                <div class="mp-boxflex-1 text-right" ng-bind="myTable.getData().totalTax | currency: currency"></div>
            </div>
            <div class="mp-display-box">
                <div>{{isCN ? L.total : L.total_with_tax}}</div>:
                <div class="mp-boxflex-1 text-right" ng-bind="myTable.getData().totalPrice + totalMoneyTemp | currency: currency"></div>
            </div>
        </div>
        <div class="col-xs-12 mp-display-none mp-mobile-display-block text-right mytable-opt-button" style="position: fixed;bottom:0px;z-index:100;margin-left:-10px;">
            <div class="col-xs-6" ng-click="onOrderMore()">{{L.order_more}}</div>
            <div class="col-xs-6" ng-click="onPlaceOrder()">{{L.place_order}}</div>
        </div>


    </div>
</div>
