<div id="page_404_view" class="page-content mp-mobile-marginleft-10px mp-mobile-marginright-10px" style="margin-left:80px;margin-right:80px;">
    <div class="col-xs-12 mp-title-green mp-mobile-margintop-20px mp-mobile-marginbottom-10px mp-mobile-fontsize-20px">404 {{L.error}}</div>
    <div class="row">
        <p class="title" style="font-size:16pt;">
            {{L.page_404_text_1}}
        </p>
        <p>
            {{L.page_404_text_2}}
        </p>
        <p>
            {{L.page_404_text_3}} <a href="/" style="font-size:130%;text-decoration: underline;">{{L.home_page}}</a> {{L.page_404_text_4}}
        </p>
    </div>
    <style>
        #page_404_view .row p {
            text-indent: 2em;
            font-size:11pt;
            margin:10px auto;
            max-width: 800px;
            font-family: Arial !important;
        }
        #page_404_view .title {
            font-family: Arial !important;
            font-size: 14pt;
            font-weight: bold;
            color: #009933;
        }
    </style>
</div>