<div id="restaurant_view" class="restaurant_view page-content mp-mobile-marginleft-10px mp-mobile-marginright-10px" style="margin-left:80px;margin-right:80px;">
    <div class="mp-biz-name mp-mobile-margintop-10px mp-mobile-fontsize-18px">
        <span ng-bind="$mpBizInfo.getItem('name')"></span>
        <span ng-if="$mpBizInfo.getItem('name_lang')">
            <span class="mp-mobile-display-none">(</span>
            <span class="mp-mobile-display-block mp-mobile-margintop-0px" ng-bind="$mpBizInfo.getItem('name_lang')"></span>
            <span class="mp-mobile-display-none">)</span>
        </span>
    </div>
    <div class="mp-biz-category mp-mobile-margintop-5px mp-mobile-fontsize-12px" ng-bind="$mpBizInfo.getItem('category')"></div>
    <div class="text-center">
        <div class="mp-biz-tab mp-mobile-margintop-15px mp-mobile-marginbottom-10px">
            <div class="mp-biz-current-tab">{{L.restaurant}}</div>
            <div class="" ng-click="toMenuList()">{{L.menu}}</div>
        </div>
    </div>

    <div class="col-xs-12 mp-mobile-border">
        <div class="col-xs-12 col-sm-7 mp-mobile-nopadding" style="padding-right:20px;">
            <div ng-if="!isCN && $mpBizInfo.getItem('meShareVideo')" ng-click="openUrl()" class="col-xs-12 tab-content mp-pointer mp-mobile-display-none" style="margin-bottom: 10px;background-color: #f9f9f9;">
                <div class="col-xs-12 col-sm-9">
                    <div class="col-xs-12 col-sm-2" style="min-width:80px;">
                        <img src = "{{meSharePicUrl}}">
                        <img class="position-absolute" style="top:3px;left:1px;" src="/customer/image/play_icon.png">
                    </div>
                    <div class="col-xs-12 col-sm-10" style="padding: 5px;">
                        <span style="font-size: 16px">Check this out! Live stream video provided by the restaurant owner during operating hours.</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 text-center" style="max-width: 200px">
                    <span style="font-size: 20px">Powered By</span>
                    <img style="width: 70%" src="/customer/image/meshare.png">
                </div>
            </div>

            <div class="banner">
               <ul>
                   <li ng-repeat="bizImg in pics" mp-repeat-directive-finish="onSliderLoaded()">
                       <div class="mp-upholder-70pc"></div>
                   </li>
               </ul>
            </div>

            <div ng-bind="L.introduction" class="mp-mobile-fontsize-15px" style="font-size:20px;font-weight:bold;margin:10px 0;"> </div>
            <div ng-bind="$mpBizInfo.getItem('desc')" class="mp-mobile-fontsize-12px" style="font-size:15px;text-indent:2em;"> </div>
            <div ng-bind="$mpBizInfo.getItem('desc_lang')" class="mp-mobile-fontsize-12px" style="font-size:15px;text-indent:2em;"> </div>
        </div>
        <div class="col-xs-12 col-sm-5 mp-mobile-margintop-20px">
            <div class="col-xs-12 mp-biz-info-title">
                <div class="pull-left mp-mobile-fontsize-13px mp-mobile-height-30px mp-mobile-lineheight-34px" style="height:40px;line-height: 40px;">{{L.rest_info}}</div>
                <div class="pull-right mp-mobile-fontsize-13px">
                    {{L.share_to}}
                    <mp-face-book-share class="fa-facebook-square blue mp-pointer mp-mobile-marginleft-5px;" style="font-size: 150%;margin-left:15px;" id="share_button" fbshare="FBshare_dataObj" ng-if="FBshare_dataObj && currency != '¥'"></mp-face-book-share>
                    <mp-we-chat-share class="fa-weixin green bigger-150 mp-pointer" style="margin-left:5px;"></mp-we-chat-share>
                    <!--<img src="/image/icon/icon_facebook.png"> <img src="/image/icon/icon_wechat.png">-->
                </div>
            </div>
            <div class="col-xs-12 hr mp-margintop-5px mp-marginbottom-5px"> </div>
            <div class="col-xs-12 mp-biz-info-service mp-mobile-fontsize-12px">
                <div class="col-xs-12 mp-display-box">
                    <i class="iconfont-size iconfont icon-dizhi mp-marginright-10px"></i>
                    <!--<img class="mp-marginright-10px" src="/image/icon/icon_home_green.png">-->
                    <div class="mp-font-verdana mp-boxflex-1 mp-text-ellipsis overflow-hidden service_green">
                        <a href="javascript:;" ng-click="onOpenBizMapNavigator($mpBizInfo.getData())" ng-bind="$mpBizInfo.getItem('address')"></a>
                    </div>
                </div>
                <div class="col-xs-12 mp-display-box">
                    <i class="iconfont-size iconfont icon-dianhua mp-marginright-10px"></i>
                    <!--<img class="mp-marginright-10px" src="/image/icon/icon_phone_green.png">-->
                    <div class="mp-font-verdana mp-boxflex-1 mp-text-ellipsis overflow-hidden service_green">
                    <span ng-repeat="phone in $mpBizInfo.getItem('phoneArr')">
                        <a href="tel:{{phone}}"  ng-bind="phone"></a>
                        <span ng-if="!$last">; </span>
                    </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <img width="100%" ng-src="{{$mpBizInfo.getItem('staticMapUrl')}}">
                </div>
                <div class="col-xs-6 col-sm-4  mp-display-box" ng-repeat="service in services">
                    <!--<img class="mp-marginright-10px serviceClass{{$index}}" ng-src="{{service.img_url}}">-->
                    <i class="iconfont-size4 iconfont  mp-marginright-10px serviceClass{{$index}} {{service.class}}"></i>
                    <div class="vetically mp-font-verdana mp-boxflex-1 mp-text-ellipsis overflow-hidden {{service.class}}" ng-bind="service.text"></div>
                </div>
            </div>
            <div class="col-xs-12 mp-biz-info-hours mp-display-box">
                <div class="">
                    <i class="iconfont-size3 iconfont icon-shijian  mp-marginright-10px"></i>
                    <!--<img class="mp-marginright-10px" src="/image/icon/icon_opennow.png">-->
                </div>
                <div class="mp-boxflex-1 mp-mobile-fontsize-12px" id="js-hours-display">
                    <div class="col-xs-12 col-sm-6 mp-font-verdana" ng-repeat="dayItem in hoursDisplay" ng-bind-html="dayItem" style="line-height: 2.8"></div>
                </div>
            </div>
            <div ng-if="promotions.length>0" class="col-xs-12 mp-biz-info-promotion mp-display-box">
                <div class=""><img class="mp-marginright-10px" src="/image/icon/icon_opennow.png"></div>
                <div class="mp-boxflex-1">
                    <span class="mp-font-verdana" style="color:#f12929;font-size:18px;">{{L.promotion}}</span>
                    <span></span>

                    <div ng-if="edit.more_less==false">
                                                               <span ng-if="promotions[0].discount_amount>0"
                                                                     ng-bind="promotions[0].discount_amount | currency: currency"></span>
                                                               <span ng-if="promotions[0].discount_pct>0">
                                                               <span ng-bind="promotions[0].discount_pct"></span> %
                                                               </span>
                                                               <span ng-if="promotions[0].discount_amount>0 || promotions[0].discount_pct>0">
                                                               &nbsp;off&nbsp;
                                                               </span>
                        <span ng-bind="promotions[0].description.slice(0,25)"></span>
                        <a ng-if="promotions.length>1" href="javascript:;"
                           mp-toggle="restaurant_promotion_info" ng-click="edit.more_less=true"
                           data-show-text="See more" data-hide-text="See less">See more</a>
                    </div>
                    <div id="restaurant_promotion_info">
                        <div ng-if="edit.more_less==true" ng-repeat="promotion in promotions">
                                                               <span ng-if="promotion.discount_amount>0"
                                                                     ng-bind="promotion.discount_amount | currency: currency"></span>
                                                               <span ng-if="promotion.discount_pct>0">
                                                               <span ng-bind="promotion.discount_pct"></span> %
                                                               </span>
                                                               <span ng-if="promotion.discount_amount>0 || promotion.discount_pct>0">
                                                               &nbsp;off&nbsp;
                                                               </span>
                            <span ng-bind="promotion.description"></span>
                        </div>
                    </div>
                    <a ng-if="promotions.length>1 && edit.more_less==true" href="javascript:;"
                       mp-toggle="restaurant_promotion_info" ng-click="edit.more_less=false"
                       data-show-text="See more" data-hide-text="See less">See less</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style=" background-color: #f9f9f9; padding: 0 10px; margin-top:20px;">
        <div class="col-xs-12 mp-biz-info-rating">
            <div ng-if="!isCN && $mpBizInfo.getItem('extraYelpInfo').rating" class="rating col-xs-6 col-sm-2">
                <span class="mp-mobile-fontsize-10px">Yelp</span>
                <starrating class="mp-mobile-fontsize-13px" rating="{{$mpBizInfo.getItem('extraYelpInfo').rating}}"></starrating>
            </div>
            <div class="rating col-xs-6 col-sm-2">
                <span class="mp-mobile-fontsize-10px">{{L.food}}</span>
                <starrating class="mp-mobile-fontsize-13px" rating="{{$mpBizInfo.getItem('extraRating').avg_food}}"></starrating>
            </div>
            <div class="rating col-xs-6 col-sm-2">
                <span class="mp-mobile-fontsize-10px">{{L.service}}</span>
                <starrating class="mp-mobile-fontsize-13px" rating="{{$mpBizInfo.getItem('extraRating').avg_service}}"></starrating>
            </div>
            <div class="rating col-xs-6 col-sm-2">
                <span class="mp-mobile-fontsize-10px">{{L.price}}</span>
                <starrating class="mp-mobile-fontsize-13px" rating="{{$mpBizInfo.getItem('extraRating').avg_price}}"></starrating>
            </div>
            <div class="col-xs-12 col-sm-4 text-right mp-mobile-textalign-left mp-mobile-margintop-10px">
                <span class="mp-pointer" ng-click="onToggleFavoriteBiz()">
                    <i class="iconfont-size1 iconfont icon-appreciate "></i>
                    <!--<img src="/image/icon/{{isMyFavorite ? 'icon_liked.png' : 'icon_like.png'}}">-->
                    {{isMyFavorite ? L.favorite_text_1 + ' ' + favoriteCount + ' ' + L.favorite_text_2 : favoriteCount + ' ' + L.favorite_text_2}}</span>
                <span class="mp-pointer" ng-click="navTo('restaurant/'+$mpBizInfo.getItem('biz_id')+'/comment')">
                    <i class="iconfont-size1 iconfont icon-duihuakuang"></i>
                    <!--<img src="/image/icon/icon_comment.png" style="margin-left:10px;">-->
                    {{$mpBizInfo.getItem('extraRating').total_count}}</span>
                <i class="iconfont-size2 iconfont icon-city "></i>
                <!--<img src="/image/icon/icon_position_blue.png" style="margin-left:10px;">-->
                <span ng-if="disName == 'mile'">{{distance | number:2}} {{L.miles}}</span>
                <span ng-if="disName == 'km'">{{distance | number:2}} {{L.km}}</span>
            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-if="specialItems.length>0">
        <div class="col-xs-12 mp-biz-special-title mp-mobile-margintop-15px mp-mobile-paddingleft-0px mp-mobile-paddingright-0px">
            <span class="mp-mobile-fontsize-15px">{{L.today_special}}</span>
        <span class="mp-mobile-fontsize-12px">
            <span class="icon-calendar"></span> {{curDate}}
        </span>
        </div>
        <div class="col-xs-12 hr"> </div>
        <div class="col-xs-12 col-sm-4 mp-special-item" ng-repeat="item in specialItems">
            <div class="col-xs-5 col-sm-12 mp-mobile-nopadding">
                <div class="col-xs-12 position-relative">
                    <div class="col-xs-12 mp-upholder-70pc mp-mobile-upholder-100pc"></div>
                    <div class="col-xs-12 mp-menu-item-image position-absolute mp-pointer" style="background-image: url('{{item.img_url_m}}');"
                            ng-click="navTo('/restaurant/'+$mpBizInfo.getItem('bizKey')+'/menu-item/'+item.prod_id)"
                            ></div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-12">
                <div class="col-xs-12">
                    <div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px mp-mobile-height-18px">{{item.name}}</div>
                    <div class="mp-text-ellipsis overflow-hidden mp-mobile-fontsize-14px mp-mobile-height-18px" style="color:gray;" ng-bind="item.name_lang"></div>
                </div>
                <div class="col-xs-12 mp-mobile-paddingright-0px">
                    <div class="col-xs-12 col-sm-6 mp-mobile-fontsize-14px">
                        <span ng-if="!item.priceAfterDiscount" ng-bind="item.price | currency: currency"></span>
                        <span ng-if="item.priceAfterDiscount" style="color:darkorange;" ng-bind="item.priceAfterDiscount | currency: currency"></span>
                        <span ng-if="item.priceAfterDiscount" class="mp-textdecoration-linethrough" style="color:gray;font-size:12px;" ng-bind="item.price | currency: currency"></span>
                    </div>
                    <div ng-if="$mpBizInfo.getItem('order_status') == 1" class="col-xs-12 col-sm-6 text-right mp-mobile-margintop-0px mp-mobile-height-27px">
                        <mp-shopping-cart-control prod="item"></mp-shopping-cart-control>
                    </div>
                </div>
                <div class="col-xs-12 mp-display-box">
                    <div class="mp-mobile-display-none">{{L.rating}}</div>
                    <div class="mp-boxflex-1 text-right mp-mobile-textalign-left"><starrating rating="{{item.avg_rating}}" style="color:darkorange;"></starrating></div>
                </div>
            </div>
            <div class="col-xs-12 mp-display-none mp-mobile-display-block hr " ng-if="!$last"></div>
        </div>
    </div>
</div>
