#complaint-list {
}

#complaint-detail {
  .page-line {
    padding: 3px 0;
  }
  .page-line-label {
    width: 80px;
    line-height: 31px;
    height: 31px;
    padding-left: 10px;
  }
  .page-line-content {
  }
}